.property-section .filter {
    width: 100%
} 

.property-section ul {
    padding-left: 0 !important;
}
 
 .property1 {
    position: absolute;
   
}

.feature-container {
    position: relative;
}

.property2 {
    position: absolute;
    top: -70px;
}

.property-2 {
    height: 100% !important
}