.advance-card .icon {
    position: relative;
    left: 26%;
    cursor: pointer;
}

.advance-card .icon2 {
    left: 29%;
}

.advance-card .icon3 {
    left: 37%;
}

.advance-card .icon4 {
    left: 28%;
}